*{
    margin:0;
    padding:0;
    font-family: Verdana;
}

html,body{
    height: 100%;
    background-color: #f4f4f4;
    color: #000;
}
body{
    display: flex;
    flex-direction: column;
}
header{
    background-color: #be95d0;
    color: #e2d8eb;
    padding: 1rem;
    text-align: center;
}
nav{
    background-color: #993399;
}
		.menu{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		}
		.menu a{
		color: #fff;
		padding: 1rem;
		text-decoration: none;
		text-align: center;
		}
		.menu a:hover{
		background-color: #cf9bcc;
		}
		.menu-escondido{
		display: none;
		background-color: #005fa3;
		color: #fff;
		padding: 1rem;
		cursor: pointer;
		text-align: rigth;
		font-size: 1.5rem;
		z-index: 1000;
		}
        
		main{
		padding: 1rem;
		background-color: #e2d8eb;
		margin-bottom: 1rem;
		}
		
		footer{
		background-color: #333;
		color: #fff;
		text-align: center;
		padding: 1rem;
		position:fixed;
		bottom:0;
		left:0;
		width: 100%;
		}
		@media (max-width: 768px){
		.menu{
		display: none;
		}
		.menu-escondido{
		display: block;
		}
		.menu.show{
		display: flex;
		}
		
    }
		@media (min-width: 769px){
		.menu{
		display: flex;
		}
    }
		.menu-escondido{
		display: none;
		}
       
		
    h6{
        padding-left: 15%;
    }
   .carrossel{
    width: 30%;
    height: 30%;
    right: 500px; float:left;
   }

   .container {
    width: 55%; 
    margin-left: auto;
    margin-right: 85px;
    margin-top: -190px;
}

    .redes{
        margin-left: auto;
        margin-right: 85px;
        display: flex;
        justify-content: center; /* ou "flex-end" se quiser à direita */
        gap: 40px; /* espaço entre os ícones */
        margin-top: 20px;
        font-size: 25px;
        margin-top: 5%;
        margin-right: 28%;
    }